
/* ===== MY CSS ===== */

/* ===== GENERAL (APPLIED TO ALL ELEMENTS) ===== */

body {
	font: 100% "EB Garamond", serif;
	color: #242323;
	background-image: url("../images/duncan-purves-background.png");
}

h1 {
  font-family: "EB Garamond", sans-serif;
  text-align: center;
  color: #242323;
  font-size: 2em;
  font-weight: 400;
}

h2 {
  color: #242323;
  font-family: "EB Garamond", serif;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
	1.25em;
	}

p {
 line-height: 1.75;
 font-size: 1em;
 font-weight: 200;
}

a {
  color: #242323;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
}

/* ===== CONTAINERS ===== */

.page {
  margin: 0 auto;
  width: 960px;
  padding: 0.6em 3.75em 3.75em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

main {
  width: 60em;
  margin: 4% auto;
}

header {
  margin-top: 1.25em;
  margin-bottom: 3.125em;
  font-family: "EB Garamond", sans-serif;
  font-style: normal;
}

/* ===== MASTHEAD ===== */

.masthead {
  margin: 0 auto;
  width: 960px;
}

.logo {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-bottom: 1em;
}

.siteheader {
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px 0px 1px #4d4d4d;
}

.siteheader a:hover {
  text-decoration: none;
}

.navmain {
  list-style-type: none;
  border-bottom: 1px solid #242323;
  margin-top: 1.25em;
  padding: .7em 0 .7em;
  text-align: center;
  /*text-shadow: 0px 0px 1px #4d4d4d;*/
}

.navmain li {
  display:inline-block;
  text-align: left;
  padding-left: 1.25em;
  padding-right: 1.25em;
  border-left: 1px solid #242323;
}

.navmain li:first-child {
  border-left: none;
}

.navmain .currentpage,
.navmain .currentpage:hover {
	color: #8B8B8B;
}

/* ===== MAIN ===== */

.homearticle {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  text-align: center;
  /*font-size: 18px;*/
  width: 18.75em;
  padding-top: 1em;
}

.imagemain {
  border: 1px solid #242323;
  box-shadow: 0px 0px 1px #4d4d4d;
  display: block;
  margin: 0 auto;
}

.linkunder {
	text-decoration: underline;
	}

/* ===== CV PAGE ===== */

.cvbox {
	background-color: rgba(36,35,35, 0.25);
	box-shadow: 0px 0px 1px #4d4d4d;
	padding: 1em;
	border: 1px solid #242323;
	text-align: center;
	font-size: 16px;
	color: #fff;
	/* font-weight: bold; */
	letter-spacing: 0.1em;
	margin-top: 2em;
	box-sizing: border-box;
}

.cvheader {
  text-align: center;
}

.lesslinespacing {
  line-height: 0.5em;
}

.cvindent {
  text-indent: 3em;
}

.journal {
  font-style: italic;
}

.margintop {
  margin-top: 2em;
}

.references {
  -webkit-column-count: 2; /*Chrome, Safari, Opera */
  -moz-column-count: 2; /*Firefox */
  column-count: 2;
}

.referencesmargin {
  margin-top: 4em;
}

.cvpage {
  border: 1px solid #242323;
  box-shadow: 0px 0px 1px #4d4d4d;
  box-sizing: border-box;
  background-color: #fff;
  padding: 1em 4em;
}

.floatright {
  float: right;
}


/* ===== RESEARCH PAGE ===== */

.researchpage{
  padding: 0 2em;
  /*border: 0.5px solid #242323;*/
  box-sizing: border-box;
  /*background-color: #fff;*/
	}

.cover {
  float: left;
  width: 101px;
  margin-top: 1.5em;
  border: 1px solid #242323;
  box-shadow: 0px 0px 1px #4d4d4d;
}

.journallink {
	text-decoration: underline;
	font-style: italic;
	font-size: 1em;
	}

h4 {
	font-weight: 400;
	font-size: 1em;
	font-style: italic;
	}

.abstract {
  float: right;
  width: 750px;
}

.journaltitle {
  font-family: "EB Garamond", serif;
  font-size: 1.25em;
}

.clear {
  clear: both;
}

.abstractmargin {
  margin-top: 3em;
}

.normal {
	font-style: normal;
	}

/* ===== TEACHING PAGE ===== */

.teachingpage {
	padding: 0 2em;
	}

table {
  margin: 1.5em auto 0.5em;
  border-collapse: collapse;
  border: 1px solid #242323;
  width: 95%;
  box-shadow: 0px 0px 1px #4d4d4d;
}

.tablehead {
	background-color: rgba(36,35,35,0.95);
	color: #fff;
	text-align: center;
}

.subject {
  border-bottom: 0.5px solid #242323;
}

th,
td {
  padding: 0.5em;
}

.tableodd {
  text-align: center;
}

.tableeven {
	text-align: center;
	background-color: rgba(36,35,35,0.25);
}

.boldrow {
  font-weight: bold;
  font-style: italic;
}

.italicrow {
  font-style: italic;
}

.transcript {
  font-style: italic;
  text-indent: 2em;
}

.topspacing {
  margin-top: 1.5em;
}

.syllabi {
	padding: 0 2em;
	}

.syllabi2 {
	padding: 0 1em;
	}

/* ===== FOOTER ===== */

footer {
  clear: both;
  border-top: 1px solid #242323;
}

.clearfix:before,
.clearfix:after {
  clear: both;
}

.legal {
  float: left;
}

.socialnav {
  list-style-type: none;
  float: right;
  padding: 0;
}

.socialnav li {
  display: inline-block;
  padding: 0.15em;
}
